@import 'css/application';

* {
  font-family: sans-serif;
}

body,
html {
  height: 100%;
  margin: 0;
  width: 100%;
}

main {
  position: relative;
  scroll-snap-type: y proximity;
}

.section-wrap {
  @include wrapper();

  height: 100%;
  scroll-snap-align: start;

  &[id="2019"] {
    margin-bottom: 76px + 32px; // 76px is height of nav bar
  }

  & + & {
    margin-top: 96px;
  }
}

.section-header {
  @include section-header();
}

.section-header-content {
  @include section-header-content();
}

.hero-image {
  @include wrapper();
  width: 100%;
  border: 1px solid black;
  font-size: 0;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.hero-image + .hero-info {
  margin-top: 24px;
}

.hero-info {
  display: flex;
  justify-content: space-between;
  width: 100%;

  > * {
    width: 49%;
  }
}

.hero-shoe-name {
  border-top: 1px solid black;
  font-size: 1em;
  font-weight: normal;
  line-height: 1em;
  margin: 0;
  padding-top: 16px;
}

.hero-shoe-copy {
  border-top: 1px solid black;
  font-size: 1em;
  line-height: 1.75em;
  margin: 0;
  padding-top: 16px;
}

.hero + .runner-ups { 
  margin-top: 56px;
}

.runner-ups {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.runner-up {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  cursor: pointer;
  position: relative;
  width: calc(100% / 3 - 1px);

  &:hover {
    .runner-up-name span {
      display: none;
    }

    .runner-up-name:before {
      content: '↳ Learn More';
    }

    .runner-up-image img {
      transform: translateY(-10%);
    }

    .runner-up-image-shadow {
      transform: scale(0.8);
    }
  }
}

.runner-up-image {
  align-items: center;
  display: flex;
  font-size: 0;
  height: 450px;
  justify-content: center;
  position: relative;
  width: 100%;
  background: linear-gradient(#ccc, #fff);

  img {
    background-color: transparent;
    height: auto;
    object-fit: cover;
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
    width: 80%;
  }
}

.runner-up-image-shadow {
  position: absolute;
  width: 75%;
  height: 40px;
  background: rgba(0, 0, 0, 0.2);
  top: 60%;
  border-radius: 50%;
  filter: blur(15px);
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.runner-up-info {
  box-sizing: border-box;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.runner-up-name {
  bottom: 0;
  font-size: 1em;
  font-weight: normal;
  line-height: 1em;
  margin: 0;
  padding: 16px;
  position: absolute;

  &:before {
    font-size: 1em;
    font-weight: normal;
    line-height: 1em;
  }
}

.runner-ups + .moment { 
  margin-top: 48px;
}

.moment {
  display: flex;
  height: 100%;
  justify-content: space-between;
  width: 100%;

  > * {
    width: 49%;
  }
}

.moment-image {
  border: 1px solid black;
  font-size: 0;
  height: 600px;
  position: relative;
  // width: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.moment-info {
  border-top: 1px solid black;
  position: relative;
}

.moment-name {
  font-size: 1em;
  font-weight: normal;
  line-height: 1em;
  margin: 0;
  padding-top: 16px;
}

.moment-copy {
  font-size: 1em;
  line-height: 1.75em;
  margin: 0;
  padding-top: 16px;
}

.moment-read-more {
  background-color: white;
  border-radius: 32px;
  border: 1px solid black;
  bottom: 0;
  color: black;
  cursor: pointer;
  font-size: 1em;
  left: 0;
  padding: 16px 24px;
  position: absolute;
  transition: background-color 0.3s ease, color 0.3s ease;
  outline: none;

  &:hover {
    background-color: black;
    color: white;
  }
}

.nav-bar-wrap {
  background-color: white;
  bottom: 0;
  box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.1);
  left: 0;
  position: fixed;
  right: 0;
}

.nav-bar {
  @include wrapper();
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
}

.nav-button {
  display: inline-block;
  background-color: white;
  border-radius: 32px;
  border: 1px solid black;
  color: black;
  font-size: 1em;
  padding: 12px 24px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;

  & + & {
    margin-left: 8px;
  }

  &.active,
  &:hover {
    background-color: black;
    color: white;
  }
}
