@charset "UTF-8";
.section-header::before {
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 12px;
  margin-right: 8px;
  transform: translate3d(-1px, 2px, 0);
  vertical-align: middle;
  width: 12px;
}
@media (min-width: 48em) {
  .section-header::before {
    height: 13px;
    transform: translate3d(-1px, 2px, 0);
    width: 13px;
  }
}

* {
  font-family: sans-serif;
}

body,
html {
  height: 100%;
  margin: 0;
  width: 100%;
}

body {
  position: relative;
}

body.modal-open {
  height: 100vh;
  overflow: hidden;
}
body.modal-open:before {
  content: "";
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 380;
}
body.modal-open .modal-wrap {
  visibility: visible;
}
body.modal-open .runner-up.active .runner-up-image img {
  transform: translateY(-10%);
}

main {
  position: relative;
  width: 100%;
}

.section-wrap {
  padding-left: 0.8823529412rem;
  padding-right: 0.8823529412rem;
  height: 100%;
}
@media (min-width: 23.4375em) and (max-width: 39.99em) {
  .section-wrap {
    padding-left: 1.1764705882rem;
    padding-right: 1.1764705882rem;
  }
}
@media (min-width: 40em) and (max-width: 63.99em) {
  .section-wrap {
    padding-left: 1.1764705882rem;
    padding-right: 1.1764705882rem;
    padding-top: 1.1764705882rem;
  }
}
@media (min-width: 64em) {
  .section-wrap {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
  }
}
@media (min-width: 78.75em) {
  .section-wrap {
    max-width: 1200px;
  }
}
.section-wrap[id="2010"] {
  margin-top: 48px;
}
@media (min-width: 40em) {
  .section-wrap[id="2010"] {
    margin-top: 96px;
  }
}
.section-wrap[id="2019"] {
  margin-bottom: 108px;
}
.section-wrap + .section-wrap {
  margin-top: 56px;
}
@media (min-width: 40em) {
  .section-wrap + .section-wrap {
    margin-top: 96px;
  }
}

.section-header {
  align-items: flex-start;
  border-top: 1px solid #2e2e2e;
  color: #2e2e2e;
  display: flex;
  flex: 1 1 auto;
  font-weight: normal;
  justify-content: center;
  padding-top: 8px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.section-header::before {
  flex: 0 0 auto;
  background-color: #2e2e2e;
}

.section-header-content {
  font-size: 16px;
  line-height: 1;
  display: inline-block;
  flex: 1 1 auto;
  text-transform: uppercase;
  vertical-align: middle;
}
@media (min-width: 64em) {
  .section-header-content {
    font-size: 15px;
  }
}

.hero-image {
  border: 1px solid black;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
  padding: 0 !important;
  width: 100%;
}
@media (min-width: 40em) {
  .hero-image {
    padding-left: 0.8823529412rem;
    padding-right: 0.8823529412rem;
  }
}
@media (min-width: 40em) and (min-width: 23.4375em) and (max-width: 39.99em) {
  .hero-image {
    padding-left: 1.1764705882rem;
    padding-right: 1.1764705882rem;
  }
}
@media (min-width: 40em) and (min-width: 40em) and (max-width: 63.99em) {
  .hero-image {
    padding-left: 1.1764705882rem;
    padding-right: 1.1764705882rem;
    padding-top: 1.1764705882rem;
  }
}
@media (min-width: 40em) and (min-width: 64em) {
  .hero-image {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
  }
}
@media (min-width: 40em) and (min-width: 78.75em) {
  .hero-image {
    max-width: 1200px;
  }
}
.hero-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.hero-image-actually-a-video,
.hero-video {
  width: 100%;
  height: auto;
}

.hero-image-placeholder {
  padding-top: 66%;
}

.hero-image + .hero-info {
  margin-top: 24px;
}

.hero-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.hero-info > * {
  width: 100%;
}
@media (min-width: 40em) {
  .hero-info > * {
    width: 49%;
  }
}

.hero-shoe-name {
  border-top: 1px solid black;
  font-size: 1em;
  font-weight: normal;
  line-height: 1em;
  margin: 0;
  padding-top: 16px;
  text-transform: uppercase;
}

.hero-shoe-copy {
  border-top: 1px solid black;
  font-size: 1em;
  line-height: 1.75em;
  margin: 16px 0 0;
  padding-top: 16px;
}
@media (min-width: 40em) {
  .hero-shoe-copy {
    margin: 0;
  }
}

.hero + .runner-ups {
  margin-top: 48px;
}
@media (min-width: 40em) {
  .hero + .runner-ups {
    margin-top: 56px;
  }
}

.runner-ups {
  border-left: 1px solid black;
  border-top: 1px solid black;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.runner-up {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  cursor: pointer;
  height: 100%;
  max-height: 450px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
@media (min-width: 40em) {
  .runner-up {
    width: calc(100% / 3);
  }
}
.runner-up:hover .runner-up-name span {
  display: none;
}
.runner-up:hover .runner-up-name:before {
  content: "↳ Learn More";
}
.runner-up:hover .runner-up-image img {
  transform: translateY(-10%);
}
.runner-up:hover .runner-up-image-shadow {
  transform: scale(0.95);
}
.runner-up > p {
  margin: 0 !important;
}

.runner-up-image {
  align-items: center;
  background: linear-gradient(#eee, #fff);
  display: flex;
  font-size: 0;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;
}
.runner-up-image img {
  height: auto;
  object-fit: cover;
  transform: translateY(0);
  transition: transform 0.7s ease-in-out;
  width: 100%;
}

.runner-up-image-placeholder {
  padding-top: 125%;
}

.runner-up-image-shadow {
  position: absolute;
  width: 75%;
  height: 30px;
  background: rgba(0, 0, 0, 0.2);
  top: 65%;
  border-radius: 50%;
  filter: blur(10px);
  transform: scale(1);
  transition: transform 0.7s ease-in-out;
}

.runner-up-info {
  box-sizing: border-box;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.runner-up-info > p {
  margin: 0 !important;
}

.runner-up-name {
  bottom: 0;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.3em;
  margin: 0;
  padding: 16px;
  position: absolute;
}
.runner-up-name:before {
  font-size: 1em;
  font-weight: normal;
  line-height: 1em;
}

.runner-up-copy {
  display: none;
}

.runner-ups + .moment {
  margin-top: 56px;
}

.moment {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}
.moment > * {
  width: 100%;
}
@media (min-width: 40em) {
  .moment > * {
    width: 49%;
  }
}

.moment + .moment {
  flex-direction: row-reverse;
  margin-top: 48px;
}

.moment-image {
  border: 1px solid black;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
  height: 100%;
  position: relative;
}
.moment-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.moment-image-placeholder {
  padding-top: 100%;
}

.moment-image + .moment-info {
  margin-top: 24px;
}
@media (min-width: 40em) {
  .moment-image + .moment-info {
    margin-top: 0;
  }
}

.moment-info {
  border-top: 1px solid black;
  display: flex;
  flex-direction: column;
  position: relative;
}

.moment-name {
  flex-grow: 1;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.2;
  margin: 0;
  padding-top: 16px;
  text-transform: uppercase;
}

.moment-copy {
  font-size: 1em;
  line-height: 1.6;
  margin: 0;
  padding-top: 16px;
}
@media (min-width: 40em) {
  .moment-copy {
    line-height: 1.5;
  }
}
.moment-copy > p:first-child {
  margin-top: 0;
}
.moment-copy > p:not(:first-child) {
  display: none;
}
.moment-copy > p:last-child {
  margin-bottom: 0;
}
.moment-copy p {
  font-size: 1em;
}

.moment-copy + .moment-read-more {
  margin-top: 8px;
}

.moment-read-more {
  align-self: flex-start;
  background-color: white;
  border: 1px solid black;
  border-radius: 32px;
  color: black;
  cursor: pointer;
  font-size: 1em;
  outline: none;
  padding: 12px 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.moment-read-more:hover, .moment-read-more:active {
  background-color: black;
  color: white;
}

.nav-bar-wrap-container {
  position: relative;
}

.nav-bar-placeholder {
  height: 101px;
}

.nav-bar-wrap {
  background-color: white;
  bottom: -1px;
  box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.1);
  display: block;
  left: 0;
  padding-bottom: 32px;
  padding-top: 16px;
  right: 0;
  text-align: center;
  transform: translateY(0%);
  transition: transform 0.3s ease;
  z-index: 80;
}
.nav-bar-wrap:before, .nav-bar-wrap:after {
  content: " ";
  bottom: 0;
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 48px;
  z-index: 1;
}
@media (min-width: 40em) {
  .nav-bar-wrap:before, .nav-bar-wrap:after {
    display: none;
  }
}
.nav-bar-wrap:before {
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  left: 0;
}
.nav-bar-wrap:after {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  right: 0;
}
.nav-bar-wrap.hidden {
  transform: translateY(100%);
}
@media (min-width: 64em) {
  .nav-bar-wrap {
    padding-bottom: 16px;
  }
}
.nav-bar-wrap > p {
  margin: 0;
}

.nav-bar-container {
  position: relative;
}
.nav-bar-container > p {
  margin: 0;
}

.nav-bar {
  overflow-x: scroll;
  position: relative;
  -webkit-overflow-scrolling: touch;
}
@media (min-width: 64em) {
  .nav-bar {
    padding-left: 0.8823529412rem;
    padding-right: 0.8823529412rem;
    overflow-x: auto;
  }
}
@media (min-width: 64em) and (min-width: 23.4375em) and (max-width: 39.99em) {
  .nav-bar {
    padding-left: 1.1764705882rem;
    padding-right: 1.1764705882rem;
  }
}
@media (min-width: 64em) and (min-width: 40em) and (max-width: 63.99em) {
  .nav-bar {
    padding-left: 1.1764705882rem;
    padding-right: 1.1764705882rem;
    padding-top: 1.1764705882rem;
  }
}
@media (min-width: 64em) and (min-width: 64em) {
  .nav-bar {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
  }
}
@media (min-width: 64em) and (min-width: 78.75em) {
  .nav-bar {
    max-width: 1200px;
  }
}
.nav-bar > p {
  margin: 0;
}

.nav-items {
  box-sizing: content-box;
  display: inline-flex;
  list-style-type: none;
  margin: 0;
  padding: 0 calc(50vw - 38.5px);
}
@media (min-width: 64em) {
  .nav-items {
    justify-content: center;
    padding: 0;
    width: 100%;
  }
}

.nav-item {
  cursor: pointer;
  margin: 0;
  width: 77px;
}
.nav-item + .nav-item {
  margin-left: 8px;
}
.nav-item.active .nav-button {
  background-color: black;
  color: white;
}

.nav-button {
  background-color: white;
  border-radius: 32px;
  border: 1px solid black;
  color: black;
  display: inline-block;
  font-size: 1em;
  line-height: normal;
  padding: 12px 20px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.nav-button:hover, .nav-button:active {
  background-color: black;
  color: white;
}

.modal-wrap {
  align-items: center;
  background-color: transparent;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  height: calc(100vh - 18.8px);
  justify-content: center;
  left: 0;
  max-width: unset !important;
  position: fixed;
  right: 0;
  top: 18.8px;
  visibility: hidden;
  width: 100%;
  z-index: 400;
}
@media (min-width: 40em) {
  .modal-wrap {
    height: 100%;
    top: unset;
  }
}

.modal {
  background-color: white;
  border: 1px solid black;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  height: calc(100vh - 37.6px);
  margin-left: 18.8px;
  margin-right: 18.8px;
  margin-bottom: 18.8px;
  max-height: 700px;
  position: relative;
  width: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
@media (min-width: 40em) {
  .modal {
    padding-left: 0.8823529412rem;
    padding-right: 0.8823529412rem;
    height: 100%;
    max-width: 959px;
    max-height: 600px;
    overflow-y: hidden;
    margin-top: 0;
    padding: 0;
  }
}
@media (min-width: 40em) and (min-width: 23.4375em) and (max-width: 39.99em) {
  .modal {
    padding-left: 1.1764705882rem;
    padding-right: 1.1764705882rem;
  }
}
@media (min-width: 40em) and (min-width: 40em) and (max-width: 63.99em) {
  .modal {
    padding-left: 1.1764705882rem;
    padding-right: 1.1764705882rem;
    padding-top: 1.1764705882rem;
  }
}
@media (min-width: 40em) and (min-width: 64em) {
  .modal {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
  }
}
@media (min-width: 40em) and (min-width: 78.75em) {
  .modal {
    max-width: 1200px;
  }
}
.modal > * {
  flex: 1 0 100%;
  width: 100%;
}
@media (min-width: 40em) {
  .modal > * {
    flex: 1 0 50%;
    width: 50%;
  }
}
.modal.runner-up-populated .modal-image-shadow {
  animation: floatShadow 3s ease-in-out infinite;
}
.modal.runner-up-populated .modal-image-wrap img {
  animation: float 3s ease-in-out infinite;
}
.modal.runner-up-populated .modal-info-wrap {
  justify-content: flex-end;
}
.modal.moment-populated .modal-info-name {
  line-height: 1.2;
}

.modal-image-wrap {
  align-items: center;
  background: linear-gradient(#eee, #fff);
  display: flex;
  font-size: 0;
  height: 70%;
  justify-content: center;
  position: relative;
}
@media (min-width: 40em) {
  .modal-image-wrap {
    height: 100%;
  }
}
.modal-image-wrap img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.modal-image-shadow {
  position: absolute;
  width: 75%;
  height: 40px;
  background: rgba(0, 0, 0, 0.2);
  top: 68%;
  border-radius: 50%;
  filter: blur(15px);
  transform: scale(1);
}

.modal-info-wrap {
  background-color: white;
  border-top: 1px solid black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 16px;
}
@media (min-width: 40em) {
  .modal-info-wrap {
    border-top: 0;
    border-left: 1px solid black;
    height: 100%;
    overflow-y: scroll;
    padding: 24px;
  }
}

.modal-info-name {
  font-size: 1em;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  margin-bottom: 16px;
  text-transform: uppercase;
}
@media (min-width: 40em) {
  .modal-info-name {
    max-width: calc(100% - 66px);
  }
}

.modal-info-copy {
  font-size: 1em;
  font-weight: normal;
  line-height: 1.75em;
  margin: 0;
}
.modal-info-copy > p:last-child {
  margin-bottom: 0;
}
.modal-info-copy p {
  font-size: 1em;
}

.modal-close-button {
  z-index: 402;
  align-items: center;
  background-color: white;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  box-sizing: content-box;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  height: 16px;
  justify-content: center;
  line-height: 2em;
  padding: 16px;
  position: absolute;
  right: 0;
  top: 0;
  width: 16px;
}
@media (min-width: 40em) {
  .modal-close-button {
    position: absolute;
    right: 0;
    top: 0;
  }
}
.modal-close-button:before {
  content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCIgdmlld0JveD0iMCAwIDE4IDE4Ij4KICA8ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZT0iIzAwMCI+CiAgICA8bGluZSB4MT0iMTcuMjUiIHgyPSIuNzUiIHkxPSIuNzUiIHkyPSIxNy4yNSIvPgogICAgPGxpbmUgeDE9Ii43NSIgeDI9IjE3LjI1IiB5MT0iLjc1IiB5Mj0iMTcuMjUiLz4KICA8L2c+Cjwvc3ZnPgo=);
  box-sizing: content-box;
  font-size: 0;
  height: 18px;
  line-height: 18px;
  width: 18px;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes floatShadow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
.intro-text {
  font-size: 19px;
  line-height: 28.5px;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25%;
  max-width: 680px;
}

/*# sourceMappingURL=styles.css.map */
