@mixin section-header {
  align-items: flex-start;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  padding-top: 8px;
  width: 100%;

  &::before {
    @extend %section-dot;

    flex: 0 0 auto;
  }
}

@mixin section-header-content {
  font-size: 14px;
  line-height: 16px;
  display: inline-block;
  flex: 1 1 auto;
  text-transform: uppercase;
  vertical-align: middle;

  @include mq($from: desktop) {
    font-size: 15px,
  }
}
